<!DOCTYPE html>
<html>
<head>
  <title>WechatWine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WineChat</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="well col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
